*,
body::before,
body::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0.8rem;
  padding-top: 8px;
}

section {
  margin: 4rem 0rem;
}

h3 {
  margin-bottom: 1rem;
}
